<div class="card">
    <div class="card-body">
        <h4 class="card-title">Profil Pribadi Anda</h4>
        <form ng-submit="updateProfile()">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input disabled type="email" id="email" class="form-control" placeholder="Email Address"
                            ng-model="dataMember.email">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input disabled type="text" id="username" class="form-control" placeholder="Username"
                            ng-model="dataMember.name">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="firstName">Nama Depan</label>
                        <input type="text" id="firstName" class="form-control" placeholder="Nama Depan"
                            ng-model="dataMember.membership.first_name">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="lastName">Nama Belakang</label>
                        <input type="text" id="lastName" class="form-control" placeholder="Nama Belakang"
                            ng-model="dataMember.membership.last_name">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="phone">No Telepon</label>
                        <input type="text" id="phone" class="form-control" placeholder="No Telpon"
                            ng-model="dataMember.membership.phone">
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="gender">Jenis Kelamin</label>
                        <select class="form-select" id="gender" ng-model="dataMember.membership.gender">
                            <option disabled value="">Pilih Jenis Kelamin</option>
                            <option value="male">Laki-laki</option>
                            <option value="female">Wanita</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="form-group">
                        <label for="addressPerson">Alamat</label>
                        <textarea type="text" id="addressPerson" class="form-control" placeholder="Alamat"
                            ng-model="dataMember.membership.address"></textarea>
                    </div>
                </div>

                <button class="btn btn-primary" type="submit">Simpan</button>
            </div>
        </form>
    </div>
</div>