<div class="container">
    <div class="card mt-5">
        <div class="card-body">
            <form id="regForm">
                <ul class="steps">
                    <li class="step">
                        <div class="step-content">
                            <span class="step-circle">1</span>
                            <span class="step-text">People</span>
                        </div>
                    </li>
                    <li class="step">
                        <div class="step-content">
                            <span class="step-circle">2</span>
                            <span class="step-text">Environment</span>
                        </div>
                    </li>
                    <li class="step">
                        <div class="step-content">
                            <span class="step-circle">3</span>
                            <span class="step-text">Economy</span>
                        </div>
                    </li>
                    <li class="step">
                        <div class="step-content">
                            <span class="step-circle">4</span>
                            <span class="step-text">Governance</span>
                        </div>
                    </li>
                    <li class="step">
                        <div class="step-content">
                            <span class="step-circle">5</span>
                            <span class="step-text">Infrastructure</span>
                        </div>
                    </li>
                    <li class="step">
                        <div class="step-content">
                            <span class="step-circle">6</span>
                            <span class="step-text">Living</span>
                        </div>
                    </li>
                </ul>
                <div class="mt-5">
                    <div class="tab" ng-repeat="x in questionData.indicators">
                        <label>Code {{x.code}}</label>
                        <div class="form-group mb-3" ng-repeat="c in x.inputs">
                            <label for="people1">{{$index+1}}. {{c.label}}</label>
                            <input type="number" class="form-control" id="people" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <!-- <div class="form-group mb-3">
                            <label for="people2">2. Jumlah Partisipan yang diundang (Orang)</label>
                            <input type="number" class="form-control" id="people2" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="people3">3. Jumlah Partisipan yang hadir (Orang)</label>
                            <input type="number" class="form-control" id="people3" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="people4">4. Jumlah ketersediaan sekolah SD, SMP atau sederajat
                            </label>
                            <input type="number" class="form-control" id="people4" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="people5">5. Jumlah warga yang buta huruf pada usia produktif</label>
                            <input type="number" class="form-control" id="people5" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="people6">6. Jumlah Warga pengguna smartphone </label>
                            <input type="number" class="form-control" id="people6" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="people7">7. Jumlah Warga usia produktif yang memiliki Pendidikan Akhir
                                SMA
                            </label>
                            <input type="number" class="form-control" id="people7" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="people8">8. Jumlah Warga usia produktif yang memiliki Pendidikan Akhir
                                minimal D3
                            </label>
                            <input type="number" class="form-control" id="people8" placeholder=""
                                oninput="this.className = ''" />
                        </div> -->
                    </div>
                    <div class="tab">
                        <div class="form-group mb-3">
                            <label for="environment1">1. Luas Wilayah Desa (M2)</label>
                            <input type="number" class="form-control" id="environment1" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="environment2">2. Luas ketersediaan ruang terbuka hijau public (RTHPu)</label>
                            <input type="number" class="form-control" id="environment2" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="environment3">3. Ketersediaan ruang terbuka hijau private (RTHPr)</label>
                            <input type="number" class="form-control" id="environment3" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="environment4">4. Ketersediaan pembangkit listrik selain PLN
                            </label>
                            <input type="number" class="form-control" id="environment4" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="environment5">5. Jumlah Ketersediaan ruang terbuka public yang dapat
                                digunakan untuk arena bermain atau rekreasi masyarakat
                                desa</label>
                            <input type="number" class="form-control" id="environment5" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="environmen6">6. Jumlah rumah warga </label>
                            <input type="number" class="form-control" id="environment6" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="environment7">7. Jumlah rumah warga yang memanfaatkan air tadah hujan
                            </label>
                            <input type="number" class="form-control" id="environment7" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="environment8">8. Jumlah hasil produksi pangan local dari pertanian dan
                                perkebunan dalam satu tahun terakhir
                            </label>
                            <input type="number" class="form-control" id="environment8" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="environment9">9. Jumlah hasil produksi pangan local dari peternakan dalam
                                satu tahun terakhir
                            </label>
                            <input type="number" class="form-control" id="environment9" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="environment10">10. Index kualitas udara </label>
                            <input type="number" class="form-control" id="environment10" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="environment11">11. Ketersediaan bank sampah atau pengelolaan limbah
                            </label>
                            <input type="number" class="form-control" id="environment11" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="environment12">12. Jumlah kegiatan bakti lingkungan yang dilakukan pemerintah
                                desa dalam satu tahun terakhir
                            </label>
                            <input type="number" class="form-control" id="environment12" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                    </div>
                    <div class="tab">
                        <div class="form-group mb-3">
                            <label for="economy1">1. Jumlah usia produktif (15 – 60 tahun) yang belum mendapatkan
                                pekerjaan</label>
                            <input type="number" class="form-control" id="economy1" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="economy2">2. Jumlah usia produktif (15 – 60 tahun) yang bekerja</label>
                            <input type="number" class="form-control" id="economy2" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="economy3">3. Jumlah lapangan pekerjaan lokal (UMKM) yang diciptakan dalam
                                1 tahun terakhir</label>
                            <input type="number" class="form-control" id="economy3" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="economy4">4. Nilai Rerata GDP per Kepala dari populasi desa
                            </label>
                            <input type="number" class="form-control" id="economy4" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="economy5">5. Jumlah usaha/bisnis yang menerapkan Teknologi Informasi (TI)
                                atau yang terdaftar pada platform teknologi informasi seperti
                                marketplace desa</label>
                            <input type="number" class="form-control" id="economy5" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="economy6">6. Jumlah objek wisata </label>
                            <input type="number" class="form-control" id="economy6" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="economy7">7. Kunjungan Wisatawan baik lokal maupun luar daerah
                            </label>
                            <input type="number" class="form-control" id="economy7" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="economy8">8. Kepuasan wisatawan terhadap pelayanan selama berwisata di
                                objek wisata yang dimiliki Desa
                            </label>
                            <input type="number" class="form-control" id="economy8" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="economy9">9. Alokasi dana desa untuk proyek atau program desa cerdas
                                selama 1 tahun terakhir
                            </label>
                            <input type="number" class="form-control" id="economy9" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="economy10">10. Jumlah Aplikasi Desa Cerdas yang dimiliki baik berbasis
                                website maupun mobile
                            </label>
                            <input type="number" class="form-control" id="economy10" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                    </div>
                    <div class="tab">
                        <div class="form-group mb-3">
                            <label for="governance1">1. Ketersediaan dan transparansi data maupun informasi oleh
                                pemerintahan desa</label>
                            <input type="number" class="form-control" id="governance1" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="governance2">2. Keandalan layanan umum yang diberikan oleh pemerintah desa
                                kepada stakeholder</label>
                            <input type="number" class="form-control" id="governance2" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="governance3">3. Efektivitas tata Kelola dan kebijakan umum pemerintahan desa
                                dalam mewujudkan desa pintar</label>
                            <input type="number" class="form-control" id="governance3" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="governance4">4. Efisiensi Sistem tata Kelola, layanan dan umpan balik
                                pemerintah desa berbasis elektronik (ICT)
                            </label>
                            <input type="number" class="form-control" id="governance4" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="governance5">5. Kebaruan informasi yang diberikan oleh pemerintah desa
                            </label>
                            <input type="number" class="form-control" id="governance5" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="governance6">6.Kualitas dukungan perangkat pemerintahan desa dalam
                                memberikan layanan terhadap masyarakat
                            </label>
                            <input type="number" class="form-control" id="governance6" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                    </div>
                    <div class="tab">
                        <div class="form-group mb-3">
                            <label for="infrastructure1">1. Jumlah Kepala Keluarga (KK)</label>
                            <input type="number" class="form-control" id="infrastructure1" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="infrastructure2">2. Jumlah KK yang berlangganan internet berkecepatan tinggi 100
                                Mbps</label>
                            <input type="number" class="form-control" id="infrastructure2" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="infrastructure3">3. Jumlah RT (NRT)</label>
                            <input type="number" class="form-control" id="infrastructure3" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="infrastructure4">4. Jumlah Wi-Fi hotspot gratis untuk akses internet di ruang
                                public (dalam 1 desa)  WFH
                            </label>
                            <input type="number" class="form-control" id="infrastructure4" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="infrastructure5">5. Jumlah rumah warga yang dapat mengakses fasilitas
                                transportasi umum dalam radius ≤ 500 meter (APT)
                            </label>
                            <input type="number" class="form-control" id="infrastructure5" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                    </div>
                    <div class="tab">
                        <div class="form-group mb-3">
                            <label for="living1">1. Kepadatan penduduk desa</label>
                            <input type="number" class="form-control" id="living1" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="living2">2.Jumlah kejadian tindak kriminalitas dalam 1 tahun terakhir
                                (CR)</label>
                            <input type="number" class="form-control" id="living2" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="living3">3. Biaya hidup</label>
                            <input type="number" class="form-control" id="living3" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="living4">4. Kepuasan masyarakat terhadap Perencanaan, pemantauan, dan
                                pengelolaan risiko bencana
                            </label>
                            <input type="number" class="form-control" id="living4" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="living5">5. Kepuasan masyarakat terhadap Akses ke layanan perawatan
                                kesehatan dasar
                            </label>
                            <input type="number" class="form-control" id="living15" placeholder=""
                                oninput="this.className = ''" />
                        </div>
                    </div>
                    <div class="thanks-message text-center" id="text-message">
                        <img src="https://i.imgur.com/O18mJ1K.png" width="100" class="mb-4" />
                        <h3>Thanks for your information!</h3>
                        <span>Your information has been saved! we will contact you
                            shortly!</span>
                    </div>
                    <div style="overflow: auto" id="nextprevious">
                        <div style="float: right">
                            <button type="button" id="prevBtn" class="btn btn-light" ng-click="nextPrev(-1)">
                                Previous
                            </button>
                            <button type="button" id="nextBtn" class="btn btn-primary" ng-click="nextPrev(1)">
                                Next
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

</script>