<div class="container">
      <div ng-if="loading" class="modal fade show" id="loadingModalLive" tabindex="-1"
            aria-labelledby="loadingModalLiveLabel" aria-modal="true" role="dialog"
            style="display: block;margin: 0px auto;top: 25%;">
            <div class="modal-dialog text-center">
                  <div class="lds-ring">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                  </div>
            </div>
      </div>
      <div class="card mt-5">
            <div class="card-body">
                  <form id="regForm" ng-submit="finish()">
                        <ul class="steps">
                              <li class="step">
                                    <div class="step-content">
                                          <span class="step-circle">1</span>
                                          <span class="step-text">People</span>
                                    </div>
                              </li>
                              <li class="step">
                                    <div class="step-content">
                                          <span class="step-circle">2</span>
                                          <span class="step-text">Environment</span>
                                    </div>
                              </li>
                              <li class="step">
                                    <div class="step-content">
                                          <span class="step-circle">3</span>
                                          <span class="step-text">Economy</span>
                                    </div>
                              </li>
                              <li class="step">
                                    <div class="step-content">
                                          <span class="step-circle">4</span>
                                          <span class="step-text">Governance</span>
                                    </div>
                              </li>
                              <li class="step">
                                    <div class="step-content">
                                          <span class="step-circle">5</span>
                                          <span class="step-text">Infrastructure</span>
                                    </div>
                              </li>
                              <li class="step">
                                    <div class="step-content">
                                          <span class="step-circle">6</span>
                                          <span class="step-text">Living</span>
                                    </div>
                              </li>
                        </ul>
                        <div class="mt-5">
                              <div class="tab">
                                    <div class="row justify-content-between">
                                          <div class="col-12" ng-repeat="input in questionData">
                                                <div class="row">
                                                      <div class="col-md-4">
                                                            <h5>{{input.indicator.code}}</h5>
                                                            <label for="input{{input.id}}">{{$index+1}}.
                                                                  {{input.label}}</label>
                                                            <div class="input-group mb-3">
                                                                  <input type="number" id="input{{input.id}}"
                                                                        class="form-control"
                                                                        ng-model="submitData.submissions[$index].value"
                                                                        ng-on-keyup="onlyNumber($event)" />
                                                                  <span class="input-group-text">{{input.unit}}</span>
                                                            </div>
                                                      </div>
                                                      <div ng-if="input.indicator.evidence" class="col-md-8">
                                                            <div class="input-group mb-3">
                                                                  <label
                                                                        for="file-upload{{input.id}}">{{input.indicator.evidence}}</label>
                                                                  <input type="file" name="file"
                                                                        id="file-upload{{input.id}}" />
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <div>
                                    <div style="float: right">
                                          <button type="button" id="prevBtn" class="btn btn-primary"
                                                ng-click="nextPrev(-1)">
                                                Previous
                                          </button>
                                          <button type="button" id="nextBtn" class="btn btn-primary"
                                                ng-click="nextPrev(1)">
                                                Next
                                          </button>
                                    </div>
                              </div>
                        </div>
                  </form>
            </div>
      </div>
</div>