<div id="auth">
    <div class="row h-100">
        <div class="col-lg-6 col-12 m-auto">
            <div id="auth-left">
                <img class="mb-4 mt-4" src="/public/assets/images/logo.png" alt="Logo">

                <h2>Register</h2>
                <form ng-submit="register()">
                    <div class="row">

                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" id="email" class="form-control" placeholder="Email Address"
                                    ng-model="form.email">
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="username">Nama</label>
                                <input type="text" id="username" class="form-control" placeholder="Username"
                                    ng-model="form.name">
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" id="password" class="form-control" placeholder="Password"
                                    ng-model="form.password">
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="konfirmasipassword">Konfirmasi Password</label>
                                <input type="password" id="konfirmasipassword" class="form-control"
                                    placeholder="Konfirmasi Password" ng-model="form.password_confirmation">
                            </div>
                        </div>

                        <!-- <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="provinsi">Provinsi</label>
                            <select class="form-select" id="provinsi">
                                <option selected disabled>Pilih Provinsi</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="kanputen">Kabupaten / Kota</label>
                            <select class="form-select" id="kabupaten">
                                <option selected disabled>Pilih Kabupaten / Kota</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="kecamatan">Kecamatan</label>
                            <select class="form-select" id="kecamatan">
                                <option selected disabled>Pilih Kecamatan</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="kelurahan">Kelurahan</label>
                            <select class="form-select" id="kelurahan">
                                <option selected disabled>Pilih Kelurahan</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="namadesa">Nama Desa / Kelurahan</label>
                            <input type="text" id="namadesa" class="form-control"
                                placeholder="Nama Desa / Kelurahan">
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="tanggalberdiri">Tanggal Berdiri</label>
                            <input type="date" id="kepaladesa" class="form-control"
                                placeholder="">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label>Alamat</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="longitude">Longitude</label>
                            <input type="text" id="longitude" class="form-control"
                                placeholder="longitude">
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-group">
                            <label for="latitude">Latitude</label>
                            <input type="text" id="latitude" class="form-control"
                                placeholder="Latitude">
                        </div>
                    </div>
                    <div class=" col-12">
                        <div class="form-group">
                            <label for="webdesa">Alamat Website Desa</label>
                            <input type="text" id="webdesa" class="form-control" placeholder="Web Desa">
                        </div>
                    </div>

                    <div class=" col-12">
                        <div class="form-group">
                            <label for="kepaladesa">Nama Kepala Desa / Lurah</label>
                            <input type="text" id="kepaladesa" class="form-control"
                                placeholder="Nama Kepala Desa / Lurah">
                        </div>
                    </div>
                    <div class=" col-12">
                        <div class="form-group">
                            <label for="sekretarisdesa">Nama Sekretaris Desa / Lurah</label>
                            <input type="text" id="sekretarisdesa" class="form-control"
                                placeholder="Nama Sekretaris Desa / Lurah">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label>Jumlah Penduduk</label>
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label for="pria" class="d-none d-md-block d-lg-block"><small><b>Pria</b></small>   </label>
                            <label for="pria" class=" d-xl-none d-block"> Pria</label>
                            <input type="number" id="pria" class="form-control" placeholder="Jumlah Penduduk Pria">
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label for="wanita" class="d-none d-md-block d-lg-block"> <small><b>Wanita</b></small></label>
                            <label for="wanita" class=" d-xl-none d-block">Wanita</label>

                            <input type="number" id="wanita" class="form-control" placeholder="Jumlah Penduduk Wanita">
                        </div>
                    </div>
                    <div class="col-md-4 col-12">
                        <div class="form-group">
                            <label for="wanita" class="d-none d-md-block d-lg-block"><small> <b> Usia Produktif (15 - 60 th)</b></small></label>
                            <label for="wanita" class=" d-xl-none d-block">  Usia Produktif (15 - 60 th)</label>
                            <input type="number" id="wanita" class="form-control" placeholder="Jumlah Penduduk Wanita">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="luasdesa">Luas Wilayah Desa</label>
                            <input type="number" id="luasdesa" class="form-control" placeholder="Luas Wilayah Desa">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="ktp">Unggah Identitas Penduduk (KTP)</label>
                            <input class="form-control" type="file" id="ktp">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="suratdesa">Unggah Surat Tugas Desa</label>
                            <input class="form-control" type="file" id="suratdesa">
                        </div>
                    </div> -->

                        <button type="submit" class="btn btn-primary btn-block shadow-lg mt-4">
                            Daftar
                        </button>
                    </div>
                </form>
                <div class="text-center mt-5 ">
                    <p class="text-gray-600">Already have an Account ? <a href="/panel" class="font-bold">Login</a>.
                    </p>

                </div>
            </div>
        </div>
        <div class="col-lg-4 d-none d-lg-block">
            <div id="auth-right"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Register
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Terimakasih sudah mendaftar, silahkan login dengan akun yang sudah akmu buat
                </p>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Close</span>
                </button> -->
                <button type="button" class="btn btn-primary ml-1" ng-click="url('/panel/user')">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Login</span>
                </button>
            </div>
        </div>
    </div>
</div>