#carouselbanner .carousel-inner .carousel-item img {
      height: 100vh !important;
      object-fit: cover !important;
}

.btn-merah {
      padding-left: 5px !important;
      padding-right: 5px !important;
      padding-top: 2px !important;
      padding-bottom: 2px !important;
      background: #DB292F !important;
      color: #fff !important;
      border-radius: 8px !important;
}

.btn-outline-merah {
      padding-left: 5px !important;
      padding-right: 5px !important;
      padding-top: 2px !important;
      padding-bottom: 2px !important;
      border-color: #DB292F !important;
      color: #DB292F !important;
      border-radius: 8px !important;
}

.bg-footer {
      background: #2A323D;
}

.line-red {
      border-top: solid 3px #FB0B0C;
      width: 30px;
      border-radius: 3px;
}

.profile img {
      height: 200px;
      border: solid 3px #FB0B0C;
      border-radius: 50%;
      padding: 4px;
}

.profile .card {
      border-radius: 20px;
}