<div class="page-title">
    <div class="row text-left">
        <h1>Detail Submission</h1>
    </div>
</div>
<section class="section">
    <div class="card">
        <div class="card-header">
            <h2>Submission Data</h2>
        </div>
        <div class="card-body">
            <form ng-submit="submitNext()">
                <div ng-repeat="x in questionData">
                    <h3>{{x.code}}</h3>
                    <h4>Result: {{x.pivot.result}}</h4>
                    <ul class='likert'>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="{{x.code}}"
                                    id="flexRadioDefault{{$index+1}}" ng-model="submitData.submissions[$index+arrayLength].point" value="1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    1
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="{{x.code}}"
                                    id="flexRadioDefault{{$index+1}}" ng-model="submitData.submissions[$index+arrayLength].point" value="2">
                                <label class="form-check-label" for="flexRadioDefault1" >
                                    2
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="{{x.code}}"
                                    id="flexRadioDefault{{$index+1}}" ng-model="submitData.submissions[$index+arrayLength].point" value="3">
                                <label class="form-check-label" for="flexRadioDefault1" >
                                    3
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="{{x.code}}"
                                    id="flexRadioDefault{{$index+1}}" ng-model="submitData.submissions[$index+arrayLength].point" value="4">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    4
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="{{x.code}}"
                                    id="flexRadioDefault{{$index+1}}" ng-model="submitData.submissions[$index+arrayLength].point" value="5">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    5
                                </label>
                            </div>
                        </li>
                    </ul>
                    <br>
                </div>
                <button ng-if="index != 1" ng-click="" class="btn btn-danger">
                    Sebelumnya
                </button>
                <button ng-if="index < 7" type="submit" class="btn btn-outline-danger">
                    Lanjut
                </button>
            </form>
        </div>
    </div>
</section>